<div class="flexcol" autocomplete="off">
  <div class="flexcol content">
    <ul class="playlist-section-list">
      {{#each playlistConfig as |section|}}
        <li data-index="{{@index}}" {{#unless section.sortable}}class="not-sortable" {{/unless}}>
          <div class="playlist-section-item" data-section="{{section.id}}">
            <div class="form-group playlist-section" data-section="{{section.id}}"
              data-item-id="{{section.playlist.id}}">
              <label>{{section.labelLocalized}}</label>
              <div class="playlist-box">
                {{#if section.playlist}}
                  <div class="flexcol item-content">
                    <a class="playlist-item" data-action="openPlaylist">
                      <span class="name">
                        <i class="fas fa-music"></i> {{section.playlist.name}}
                      </span>
                    </a>

                    <div class="flexrow">
                      <div class="form-group stacked initial-track">
                        <label>{{localize "VGMusic.InitialTrack"}}</label>
                        <select name="music.{{section.id}}.initialTrack">
                          {{#select section.data.initialTrack}}
                            <option value="">{{localize "VGMusic.Default"}}</option>
                            {{#each section.tracks as |track|}}
                              <option value="{{track.id}}">{{track.name}}</option>
                            {{/each}}
                          {{/select}}
                        </select>
                      </div>

                      {{#if section.allowPriority}}
                        <div class="form-group stacked priority">
                          <label>{{localize "VGMusic.Priority"}}</label>
                          <input type="number" name="music.{{section.id}}.priority" value="{{section.data.priority}}"
                            placeholder="0">
                        </div>
                      {{/if}}
                    </div>
                  </div>

                  <div class="control">
                    <a data-action="deletePlaylist"><i class="fas fa-trash"></i></a>
                  </div>
                {{else}}
                  <span class="disabled">{{localize "VGMusic.None"}}</span>
                {{/if}}
              </div>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>

    <div class="help">
      <i class="fas fa-info"></i>
      <span>{{localize "VGMusic.ConfigHelp"}}</span>
    </div>

    <footer class="sheet-footer flexrow">
      {{#each buttons as |button|}}
        <button type="{{button.type}}" {{#if button.action}}data-action="{{button.action}}" {{/if}}>
          <i class="{{button.icon}}"></i>
          {{localize button.label}}
        </button>
      {{/each}}
    </footer>
  </div>
</div>
